name: Check Markdown links

on: 
  push:
    branches:
      - main
  schedule:
    - cron: "0 9 * * *"


jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: gaurav-nelson/github-action-markdown-link-check@v1
    with:
      use-verbose-mode: 'yes'
      file-path: './README.md'
